<span>Não Spriptlet</span>
f = ""
<%
class << f
end
 f = <<Final2
Esta é um String de muitas linhas
com algumas sequências de caracteres
para atrapalhar como %>
" e '
Final2
This is regular code
%>
========== Captured scriptlets below
<%
class << f
end
 f = <<Final2
Esta é um String de muitas linhas
com algumas sequências de caracteres
para atrapalhar como %>
" e '
Final2
This is regular code
%>
========== non-string areas extracted from scriptlets above

class << f
end
 f = 


This is regular code

==========
false