<span>Não Spriptlet</span>
f = ""
<%
 f = <<Final2
Esta é um String #{codigo ruby}de muitas linhas
com algumas sequências de caracteres
para atrapalhar como %>
" e '
Final2
This is regular code
%>
========== Captured scriptlets below
<%
 f = <<Final2
Esta é um String #{codigo ruby}de muitas linhas
com algumas sequências de caracteres
para atrapalhar como %>
" e '
Final2
This is regular code
%>
========== non-string areas extracted from scriptlets above

 f = 

codigo ruby


This is regular code

==========
false